@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


h1{
  color: rgb(241, 207, 163);
  font-family: Mingzat;
  font-size: 4em;
}

p{
  color: rgb(241, 207, 163);
  font-size: 2em;
  font-family: mingzat;
}

.app{
  background-color: rgba(0,0,0, 0.4);
  width: 100%;
  height: 100vh;
  position: relative;
}

.app::before{
  content: '';
  background: url(./assets/background.jpg) no-repeat center center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index:  -1;
}
